# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Assets
assets/.gitkeep

# Pydrud
.pydrud/
keystore.properties
*.keystore
*.jks
google-services.json
